#about-container {
height: 75vh
}

.reasons-list {
  padding-bottom: 20px
}

.why-title {
  color: var(--color-primary);
  font-size: var(--typography-small);
}

.reasons-list > .li-element {
     color: var(--color-secondary);
    font-size: 16px;
 }

