.likes-list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  #dancing { 
    margin-top: 20px
     }

  #sport { 
 margin: 0 0 10px 60px
  }

  #breaking-bad { 
    margin: 8px 0 0 80px;
    }
    
    .like-icon {
    border-radius: 50%;
    }

    .likes-list li:nth-child(1) > img { 
      width: 100px;
      height: 100px;
     }
    .likes-list li:nth-child(2) > img {  
      width: 85px;
      height: 85px;
    }
    .likes-list li:nth-child(3) > img {  
      width: 120px;
      height: 120px;
    }
    .likes-list li:nth-child(4) > img { 
      width: 75px;
      height: 75px;
    }
    .likes-list li:nth-child(5) > img {  
      width: 90px;
      height: 90px;
    }
    
    @media screen and (max-width: 600px) {
      .likes-list li:nth-child(1) > img { 
        width: 86px;
        height: 86px;
       }
      .likes-list li:nth-child(2) > img {  
        width: 72px;
        height: 72px;
      }
      .likes-list li:nth-child(3) > img {  
        width: 100px;
        height: 100px;
      }
      .likes-list li:nth-child(4) > img { 
        width: 60px;
        height: 60px;
      }
      .likes-list li:nth-child(5) > img {  
        width: 75px;
        height: 75px;
      }
      #sport { 
        margin: 0 0 5px 30px
         }
       
         #breaking-bad { 
           margin: 4px 0 0 40px;
           }
    }