:@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');
    font-wight: 400;
    font-style: normal;
    font-size: 0.8rem
}

:root {
    --color-light-blue: #8ecae6;
    --color-blue: #219ebc;
    --color-dark-blue: #023047;
    --color-light-orange: #ffb703;
    --color-orange: #fb8500;
    --color-black: #222;
    --color-white: white;
    
    --typography-typeface: 'Inter', sans-serif;
--typography-h1: 1.9375rem;
  --typography-h2: 1.5625rem;
  --typography-h3: 1.25rem;
  --typography-p : 1rem;
  --typography-s : .8125rem;

  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


