@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:wght@200;400&display=swap');

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:wght@200;400&display=swap');
  font-weight: 400;
  font-style: normal;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

:root {
  --color-black: #222;
  --color-white: #feffff;
  --color-light-purple: #b490fe;
  --color-purple: #ac85dd;
  --color-green: #defc98;
  --color-light: #f4f3ea;

  --typography-typeface: 'Poppins', sans-serif;
  --typography-large: 2.3rem;
  --typography-medium: 2rem;
  --typography-small: 1.75rem;
  --typography-xs: 1.2rem;
  --typography-xxs: 0.8125rem;

  --border-purple: 1px solid var(--color-purple);
  --animation-slide-in: slide-in 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--typography-typeface);
}

body {
  background-color: var(--color-purple);
}

main {
  background-color: var(--color-light-purple);
}

header {
  padding: 24px 54px 24px 0px;
  display: flex;
  justify-content: flex-end;
}

nav {
  text-transform: uppercase;
  font-size: 1.4rem;
}

nav li:hover {
  transform: scale(1.1);
}

footer {
  font-size: var(--typography-xxs);
  text-align: center;
  padding: 16px 0;
}

nav a,
footer a {
  color: var(--color-green);
  font-weight: bold;
}

.ul-navbar {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-black);
  font-style: bold;
}

img {
  width: 75%;
  height: 75%;
}

.title {
  padding: 24px;
  font-size: var(--typography-small);
}

.subtitle {
  padding-left: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-green);
  font-size: var(--typography-large);
}

.skills {
  background-color: var(--color-green);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  border: var(--border-purple);
}

.social-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.li-element:before {
  content: '\25b7';
  padding-right: 15px;
}

#mobile-menu, #close-menu {
display: none;
color: var(--color-green);
font-size: var(--typography-small)
}


@media screen and (max-width: 375px) {
  header {
   padding: 18px;
   justify-content: space-between;
  }
  nav {
    display: none;
    font-size: var(--typography-xs)
  }
  .ul-navbar {
    display: block;
   }
   #mobile-menu {
  display: block;
  }  
  [class~='hide'] {
    display: none;
  }
  [class~='show'] {
    display: block;
  }
.title {
  font-size: var(--typography-xs)
}
.subtitle {
  font-size: var(--typography-medium)
}
}
