.container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  height: 80vh;
  padding: 40px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 75%;
}

.personal-description {
  color: var(--color-secondary);
  font-size: var(--typography-xs);
}

.name {
  color: var(--color-primary);
  font-size: var(--typography-medium);
}

.occupation {
  color: var(--color-secondary);
  font-size: var(--typography-small);
}

.location {
  color: var(--color-grey-text);
  font-size: 14px;
  text-transform: uppercase;
}

.img-container {
  display: flex;
  align-items: center;
}

.personal-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--color-grey-background);
  padding: 30px;
  cursor: pointer;
}

.body-home {
  overflow: hidden;
}

i {
  position: absolute;
  z-index: 1;
  height: 10px;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 10s linear infinite;
  overflow: hidden;
}

i:nth-child(3n + 1) {
  background: linear-gradient(transparent, var(--color-primary));
}

i:nth-child(3n + 2) {
  background: linear-gradient(transparent, #ff2a00);
}

i:nth-child(3n + 3) {
  background: linear-gradient(transparent, var(--color-secondary));
}

@keyframes animate {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(calc(100vh + 10px));
  }
}

@media screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 18px;
    height: auto;
    overflow: auto;
    gap: 30px;
  }
  .personal-info {
    gap: 18px;
  }
  .name,
  .personal-description {
    font-size: var(--typography-xs);
  }
  .occupation {
    font-size: var(--typography-medium);
  }
  .img-container {
    flex-direction: column;
    padding: 20px 0;
  }
  .personal-img {
    height: 240px;
    width: 240px;
  }
}
