.container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  height: 80vh;
  padding: 40px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 75%;
}

.personal-description {
  color: var(--color-secondary);
  font-size: var(--typography-xs);
}

.name {
  color: var(--color-primary);
  font-size: var(--typography-medium);
}

.occupation {
  color: var(--color-secondary);
  font-size: var(--typography-small);
}

.location {
  color: var(--color-grey-text);
  font-size: 14px;
  text-transform: uppercase;
}

.img-container {
  display: flex;
  align-items: center;
}

.personal-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--color-grey-background);
  padding: 30px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 18px;
    height: auto;
    overflow: auto;
    gap: 30px
  }
  .personal-info {
    gap: 18px;
  }
  .name,
  .personal-description {
    font-size: var(--typography-xs);
  }
  .occupation {
    font-size: var(--typography-medium);
  }
  .img-container {
    flex-direction: column;
    padding: 20px 0
  }
  .personal-img {
    width: 90%;
    height: 90%
  }
}
