.experience-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 24px;
  padding: 0 24px 24px 24px;
}

.experiences-list {
  padding: 24px;
  margin: 24px 24px 0 0;
  border-radius: 12px;
  background-color: var(--color-light);
  animation: var(--animation-slide-in);
}

.skills-list {
  pointer-events: none;
  display: none;
  border: var(--border-purple);
  border-radius: 6px;
  background-color: var(--color-white);
  margin: 12px 0;
  padding: 12px 12px 12px 16px;
  width: fit-content;
}

[class~='show-ev'] {
  pointer-events: auto;
  display: block;
}

@media screen and (max-width: 414px) {
.experiences-list {
  animation: none;
}
.experience-container {
  display: flex;
  flex-direction: column;
  padding: 18px;
}
.experience-header {
  padding: 0 12px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.title, .subtitle {
  padding: 0
}
.experience-techs {
  padding: 0;
  position: relative;
  top: -12px;
}
.experiences-list {
  margin: 0;
}
}

@media screen and (min-width: 414px) and (max-width: 768px) {
.title, .subtitle, .experience-techs {
  padding-left: 0
}
}

  
