.experience-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 24px;
  padding: 0 24px 24px 24px;
}

.experiences-list {
  padding: 24px;
  margin: 24px 24px 0 0;
  border-radius: 12px;
  background-color: var(--color-light);
  animation: var(--animation-slide-in)
}

.experience-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 24px;
  padding-bottom: 24px;
}

.organization {
  font-size: var(--typography-xs);
}

.position {
  font-weight: bold;
  text-transform: uppercase;
}

.experience-description {
  position: relative;
  top: 8px;
}

#experience-skills {
  margin-top: 22px;
}

.responsabilities-list {
  pointer-events: none;
  display: none;
}

.responsability:before {
  content: '\25b7  ';
}

[class~='show'] {
  pointer-events: auto;
  display: block;
  border: var(--border-purple);
  border-radius: 6px;
  background-color: var(--color-white);
  margin: 12px 0;
  padding: 12px 12px 12px 16px;
  width: fit-content;
}