#projects-subtitle {
  padding: 24px 24px 24px 48px;
}

.filter {
  display: flex;
  flex-direction: row;
  padding: 0 0 24px 48px;
  gap:12px;
}

#projects-techs-list {
  top: 0;
}

#projects-techs-list li:nth-child(6),  
#projects-techs-list li:nth-child(7),
#projects-techs-list li:nth-child(8),
#projects-techs-list li:nth-child(9) {
  display: none;
}

#projects-techs-list li:nth-child(9) {
  display: none;
}

.filter-title {
  font-size: var(--typography-xs);
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 32px;
  padding: 0 48px 24px 48px;
  animation: var(--animation-slide-in);
}

.skills-list {
  pointer-events: none;
  display: none;
  border: var(--border-purple);
  border-radius: 6px;
  background-color: var(--color-white);
  margin: 12px 0;
  padding: 12px 12px 12px 16px;
}

[class~='show-ev'] {
  pointer-events: auto;
  display: block;
}

.noProjectsMessage {
  margin: 24px 24px 24px 48px;
  padding: 18px;
  position: relative;
  bottom: 24px;
  animation: var(--animation-slide-in);
  background-color: var(--color-light);
  border-radius: 8px;
  width: fit-content;
}

@media screen and (max-width: 1086px) {
  #projects-subtitle {
padding: 18px 30px;
  }
  .filter {
    display: block;
    padding: 0 30px 18px 30px;
  }
  .projects-list, .experinoProjectsMessageist {
    animation: none;
  }
  .projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 18px;
  }
}
  
    
