.filter {
    display: flex;
    flex-direction: row;
    padding: 0 0 24px 48px;
    gap:12px;
  }
  
  #projects-techs-list {
    top: 0;
  }

  #projects-techs-list li:nth-child(6),  
  #projects-techs-list li:nth-child(7),
  #projects-techs-list li:nth-child(8) {
    display: none;
  }
  
  .filter-title {
    font-size: var(--typography-xs);
  }

  @media screen and (max-width: 375px) {
  .filter {
    display: block;
    padding: 0 30px 18px 30px;
  }
}