.experience-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 24px;
  padding: 0 40px;
}

.experience-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.experience-title {
  font-size: var(--typography-xs);
  color: var(--color-secondary);
}

.marketing {
  font-size: var(--typography-small);
  color: var(--color-primary);
}

.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 50px 40px 20px;
  animation: var(--animation-slide-in);
  height: 75vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: var(--typography-xxs);
}

@media screen and (max-width: 600px) {
  .experience-container {
    display: flex;
    flex-direction: column;
    padding: 18px;
  }
  .experience-header {
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .experiences-list {
    animation: none;
    margin: 0;
  }
}
